@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;

  :global {
    .react-datepicker {
      font-family: inherit;
      border: none;
      background: none;
      font-size: 18px;
      padding-bottom: 54px;


      @media (max-width: 768px) {
        padding-bottom: 40px;
       }
  
      h2 {
        color: var(--color-catalina-blue);
        font-size: 36px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 36px;
          margin-bottom: 30px;
         }

         @media (max-width: 740px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
  
    .react-datepicker__month {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      @media (max-width: 768px) {
        margin-top: 0px;
      }
    }

    .dateWrapper {
      .react-datepicker__day-name {
        @media (max-width: 740px) {
          &::before {
            content: attr(data-short-name);
          }
        }
      }
    }
  
    .react-datepicker__day {
      position: relative;
      border-right: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
      margin: 0px;
      border-radius: 0px;
      background-color: var(--color-solitude);
    }
  
    .react-datepicker__day div {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 8px 10px 35px 15px;
      height: 70px;

      @media (max-width: 768px) {
        padding: 22px 10px 35px 15px;
        height: 68px;
        align-items: center;
      }

      @media (max-width: 740px) {
        padding: 10px 0px 10px 0px;
        height: 32px;
        align-items: center;
        font-size: 13px;
      }
    }
  
    .react-datepicker__day::after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border: 4px solid transparent;
      transition: border-color 0.3s;
      z-index: 999;
    }
  
    .react-datepicker__day:hover::after {
      border-color: #FF5C23;
    }
  
    .react-datepicker__day--range-end,
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range {
      background-color: #1D2E5B;
      color: white;
    }
  
    .react-datepicker__day--disabled {
      background-color: white;
      color: var(--color-pink-swan);
    }
  
    .react-datepicker__day--disabled::after {
      border: none;
    }
  
    .react-datepicker__month .react-datepicker__week .react-datepicker__day:first-child,
    .react-datepicker__month .react-datepicker__week .react-datepicker__day-name:first-child {
      border-left: 1px solid #dcdcdc;
    }
  
    .react-datepicker__month .react-datepicker__week:nth-child(6) .react-datepicker__day,
    .react-datepicker__month .react-datepicker__week:nth-child(6) .react-datepicker__day-name {
      border-bottom: 1px solid #dcdcdc; 
    }

    .react-datepicker__day-names {
      display: flex;

      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    .react-datepicker__day-name {
      width: 138px;
      display: flex;
      padding-left: 20px;

      @media (max-width: 1300px) {
        width: 90px;
      }

      @media (max-width: 1024px) {
        width: 72px;
        font-size: 16px;
        padding-left: 0px;
      }

      @media (max-width: 768px) {
        width: 72px;
        font-size: 16px;
        padding-left: 0px;
      }

      @media (max-width: 740px) {
        width: 30px;
        font-size: 13px;
        padding-left: 0px;
      }
    }

  
    .react-datepicker__day,
    .react-datepicker__time-name {
      width: 143px;

      @media (max-width: 1300px) {
        width: 90px;
      }

      @media (max-width: 1024px) {
        width: 77px;
        div span:nth-of-type(2) {
          display: none;
      }
      }

      @media (max-width: 768px) {
        width: 77px;
        div span:nth-of-type(2) {
          display: none;
      }

      @media (max-width: 740px) {
        width: 30px;
        line-height: 1rem;
      }
      }

 
    }
  
    .react-datepicker__day-names .react-datepicker__day-name:nth-child(6),
    .react-datepicker__day-names .react-datepicker__day-name:nth-child(7) {
      color: red;
    }
  
    .react-datepicker__current-month {
      padding: 25px 0 18px;
      border-top: 1px solid var(--color-light-grayish-blue);
      border-bottom: 1px solid var(--color-light-grayish-blue);

      @media (max-width: 1300px) {
        font-size: 36px;
      }

      @media (max-width: 1024px) {
        font-size: 36px;
      }

      @media (max-width: 768px) {
        font-size: 36px;
      }

      @media (max-width: 740px) {
        padding: 10px 0 10px;
      }
    }
  
    .react-datepicker__navigation {
      top: 35px;

      @media (max-width: 740px) {
        top: 15px;
      }
    }
  
    .react-datepicker__navigation-icon::before {
      border-width: 3px 3px 0 0;
      height: 17px;
      width: 17px;

      @media (max-width: 768px) {
        height: 27px;
        width: 16px;
        left: -23px;
       }

       @media (max-width: 740px) {
        height: 10px;
        width: 10px;
        left: -13px;
      }
    }

    .react-datepicker__navigation-icon--previous::before {
      border-width: 3px 3px 0 0;
      height: 17px;
      width: 17px;

      @media (max-width: 768px) {
        height: 16px;
        width: 16px;
        left: -1px;
       }

       @media (max-width: 740px) {
        height: 10px;
        width: 10px;
        left: -13px;
      }
    }
  
    .react-datepicker__header {
      background: none;
      border: none;
    }
  }

  @media (max-width: 1024px) {
    .inputGroup {
      flex-direction: column;
    }
  
    .inputCompanionCount {
      flex-direction: column;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        width: 100%;
       }
    }
  
    .inputCompanionCountWrapper,
    .inputDurationCountWrapper {
      margin-bottom: 20px;
      color: #1D2E5B;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        margin-bottom: 10px;
       }
    }
  
    label:last-child {
      order: -1;
      margin-bottom: 20px;
    }
  }

  .inputGroup {
    padding-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 24px;

    label {
      display: flex;
      align-items: center;
    }

    .counter {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 768px) {
        width: 100%;
       }

      button {
        background-color: #fff;
        color: rgba(153, 153, 153, 1);
        padding: 5px;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;


          @include mixins.tablet-small {
            width: 14px;
            height: 14px;
          }
        }
      }

      span {
        min-width: 50px;
        text-align: center;
      }
    }
  }

  .dateWrapper {
    display: flex;
    justify-content: center;
  }

  .inputCompanionCountSpan {
    display: flex;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 2px;
    font-weight: 500;

    @include mixins.tablet-small {
			font-size: 15px;
		}
  }

  .inputCompanionSecond {
    color: gray;
  }
  
  .inputCompanionCountWrapper {
    gap: 29px;
    color: #1D2E5B;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-left: 7px;
      margin-right: 7px;
      gap: 24px;
     }
  }

  .inputDurationCountWrapper{
    gap: 56px;
    color: #1D2E5B;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-left: 7px;
      margin-right: 7px;
      gap: 24px;
     }
  }

  .inputCompanions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .counterWrapper {
    border: 1px solid rgba(203, 206, 217, 1);
    display: flex;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    gap: 20px;
    border-radius: 3px;
    align-items: center;

    @media (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
     }

     @include mixins.tablet-small {
			font-size: 14px;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 5px;
      padding-bottom: 5px;
		}
  }

  label {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: color variables.$transition;
    gap: 21px;

    &:hover {
      color: rgb(0 0 0 / 60%);

      .mark {
        background-color: rgb(255 255 255 / 60%);
      }
    }

    &:has(input:focus-visible) {
      color: rgb(0 0 0 / 60%);

      .mark {
        background-color: rgb(255 255 255 / 60%);
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:active,
    &:has(input:active) {
      color: rgb(0 0 0 / 30%);

      /* stylelint-disable-next-line no-descending-specificity */
      .mark {
        background-color: rgb(255 255 255 / 30%);
      }
    }
  }

  input {
    position: fixed;
    transform: scale(0);
  }

  @include mixins.tablet-small {
    label {
      gap: 9px;
    }
  }

}

.inputCompanionCount {
display: flex;
flex-direction: column;
gap: 15px;

@media (max-width: 768px) {
  gap: 0px;
   }
}

.inputChildrenWrapper {
  padding-top: 15px;
  color: #1D2E5B;
  font-size: 20px;
  letter-spacing: 2.4px;
  position: relative;
  width: 239px;

  @media (max-width: 768px) {
    margin-left: 8px;
    padding-bottom: 26px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--color-light-grayish-blue);
    width: 100%;
   }

   @include mixins.tablet-small {
    font-size: 12px;
  }
   
}

.inputChildrenWrapper::after {
  content: "МОЖНО С ДЕТЬМИ";
  position: absolute;
  top: 65%;
  left: 19%;
  transform: translateY(-50%);
  margin-left: 10px;
  white-space: nowrap;
  color: #1D2E5B;
  font-weight: 500;

  @media (max-width: 1300px) {
    left: 15%;
   }

  @media (max-width: 768px) {
    top: 44%;
    left: 8%;
   }

   @include mixins.tablet-small {
    font-size: 12px;
    top: 47%;
    left: 12%;
  }
}


.formButton {
  border-radius: 20px;
  background-color: #a8d2f4;
  display: flex;
  max-width: 285px;
  gap: 16px;
  font-size: 24px;
  color: var(--basic_blue_light, #1d2e5b);
  font-weight: 700;
  white-space: nowrap;
  line-height: 100%;
  padding: 28px 35px;

  @media (max-width: 740px) {
    top: 44%;
    left: 8%;
    display: flex;
    max-width: 230px;
    font-size: 17px;
    line-height: 100%;
    padding: 11px 29px;
   }
}


.formHead {
  display: flex;
  padding-bottom: 51px;
  border-bottom: 1px solid var(--color-light-grayish-blue);
  gap: 115px;

  @media (max-width: 768px) {
    padding-bottom: 25px;
   }
}

.formDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between 
}

.formTitle {
  font-size: 36px;
  color: #1D2E5B;

  @media (max-width: 1300px) {
    margin-bottom: 78px;
   }

   @media (max-width: 740px) {
    font-size: 20px;
   }
}

.formSubtitle {
  line-height: 26px;

  @media (max-width: 740px) {
    font-size: 13px;
    width: 223px;
    line-height: 22px;
   }

  @media (max-width: 768px) {
    br {
      display: none;
      
    }
   }
}


/* stylelint-disable-next-line no-descending-specificity */
.mark {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: 1px solid rgba(203, 206, 217, 1);
  width: 35px;
  height: 35px;
  background-color: var(--color-white-default);
  border-radius: 4px;
  transition: background-color variables.$transition;

  svg {
    width: 11px;
    height: 12px;
    opacity: 0;
    transition: opacity variables.$transition;
  }

  label input:checked + & {
    svg {
      opacity: 1;
    }
  }

  input:checked:active + & {
    svg {
      opacity: 0.2;
    }
  }

  label:active input:checked + & {
    svg {
      opacity: 0.2;
    }
  }

  @include mixins.tablet-small {
    width: 25px;
    height: 25px;

    svg {
      width: 11px;
      height: 14px;
    }
  }
}

.label {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  @include mixins.tablet-small {
    font-size: 15px;
    line-height: 133%;
  }
}