@use '@styles/func';
@use '@styles/mixins';

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  @include mixins.tablet {
    flex-direction: column;
    gap: 7px;
  }

  @include mixins.tablet-small {
    position: relative;
    flex-flow: row nowrap;
    align-items: start;
    gap: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      right: -21px;
      left: -27px;
      z-index: 0;
      height: 1px;
      background-color: var(--color-solitude);
    }
  }
}

.level {
  margin-left: auto;

  @include mixins.tablet {
    margin-top: auto;
  }

  @include mixins.tablet-small {
    flex-grow: 1;
    margin: 0;
  }
}
