@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  display: flex;
}

.formHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--color-light-grayish-blue);
  gap: 50px;

  @include mixins.tablet {
    padding-bottom: 32px;
  }

  @include mixins.tablet-small {
    padding: 0;
  }
}

.formDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;

    @include mixins.tablet {
      margin: 0 0 70px;
    }

    @include mixins.tablet-small {
      margin: 0 0 35px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  & p {
    font-size: 20px;
    line-height: 24px;
    font-weight: regular;

    @include mixins.tablet-small {
      font-size: 13px;
      line-height: 22px;
    }
  }
}

.formContainer {
  position: relative;
  padding: 62px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 225px;
    top: 0;
    bottom: 0;
    background-color: #E1E3E9;
  }

  @include mixins.tablet {
    padding: 40px 0 0;

    &::before {
      right: 140px;
      height: 80%;
    }
  }

  @include mixins.tablet-small {
    padding: 18px 0 0;

    &::before {
      display: none;
    }
  }
}

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
  margin: 0 0 13px;

  @include mixins.tablet {
    gap: 52px;
    margin: 0 0 18px;
  }

  @include mixins.tablet-small {
    gap: 0;
  }
}

.countryName {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 26px 23px 22px 25px;
  border: 1px solid #CBCED9;

  &::after {
    position: absolute;
    content: "";
    top: 25px;
    right: -53px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #1D2E5B;
    z-index: 3;
  }

  @include mixins.tablet {
    min-width: 369px;

    &::after {
      right: -34px;
    }
  }

  @include mixins.tablet-small {
    padding: 13px 10px;
    min-width: 168px;
    border-radius: 4px;

    &::after {
      top: 18px;
      right: -5px;
      width: 8px;
      height: 8px;
    }
  }
}

.countryNameText {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: medium;

  @include mixins.tablet-small {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 10%;
  }
}

.countryArrow {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 24px;

  @include mixins.tablet {
    width: 16px;
    height: 16px;
  }
}

.countryArrowButtom {
  position: absolute;
  top: 0;
  display: inline-flex;
  width: 11px;
  height: 11px;
  cursor: pointer;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  z-index: 3;
  transform: rotate(135deg);
}

.countryIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;

  @include mixins.tablet {
    gap: 25px;
  }

  @include mixins.tablet-small {
    position: relative;
    padding: 9px;
    border: 1px solid #CBCED9;
    border-radius: 4px;
  }
}

.countryImage {
  width: 70px;
  height: 47px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mixins.tablet-small {
    width: 35px;
    height: 24px;
  }
}

.countryDelete {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -6px;
    transform: translateX(50%);
    width: 22px;
    height: 2px;
    background-color: var(--color-light-grey);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include mixins.tablet-small {
    position: absolute;
    right: -8px;
    top: -8px;
    padding: 7px;
    background-color: #EDEFF6;
    border-radius: 50%;

    &::before,
    &::after {
      width: 12px;
      left: 4px;
    }
  }
}

.formSelectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 250px;
  margin: 0 0 142px;

  @include mixins.tablet {
    gap: 147px;
  }

  @include mixins.tablet-small {
    display: block;
    margin: 0 0 165px;
  }
}

.formSelect {
  position: relative;
  flex-grow: 1;
}

.formSelectButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 21px 12px;
  border: 1px solid #CBCED9;
  font-size: 20px;
  line-height: 20px;

  &::after {
    position: absolute;
    content: "";
    top: 25px;
    right: -53px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #CBCED9;
    background-color: #ffffff;
  }

  @include mixins.tablet {
    min-width: 369px;

    &::after {
      right: -35px;
    }
  }

  @include mixins.tablet-small {
    padding: 15px 18px;
    min-width: 100%;
    font-size: 14px;
    line-height: 18px;

    &::after {
      display: none;
    }
  }
}

.formSelectButtonText {
  font-size: 20px;
  line-height: 20px;
  font-weight: medium;
  letter-spacing: 10%;
  text-transform: uppercase;

  @include mixins.tablet-small {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
  }
}

.formSelectArrowCross {
  position: relative;
  display: block;
  width: 18px;
  height: 16px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -9px;
    transform: translateX(50%);
    width: 28px;
    height: 2px;
    background-color: var(--color-light-grey);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include mixins.tablet-small {
    width: 9px;
    height: 9px;

    &::before,
    &::after {
      top: 2px;
      left: 0;
      width: 10px;
    }
  }
}

.lettersAndCountries {
  display: none;
}

.activeLettersAndCountries {
  z-index: 3;

  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  display: flex;
  align-items: flex-start;
  padding: 32px 34px 36px 23px;
  min-width: 730px;
  background-color: #ffffff;

  @include mixins.tablet {
    min-width: auto;
    right: -203px;
    padding: 32px 34px 36px 29px;
  }

  @include mixins.tablet-small {
    padding: 0;
    top: 45px;
    right: 0;
    flex-direction: column;
  }
}

.letters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px 16px;
  padding: 0 135px 0 0;
  background-color: #ffffff;

  @include mixins.tablet {
    gap: 0;
    padding: 0 96px 0 0;
  }

  @include mixins.tablet-small {
    padding: 0;
  }
}

.letter {
  padding: 27px 24px;
  max-width: 60px;
  max-height: 70px;
  border: 1px solid #CBCED9;
  font-size: 20px;
  font-weight: medium;
  line-height: 20px;
  cursor: pointer;

  @include mixins.tablet {
    margin: 0;
    padding: 24px 17px;
  }

  @include mixins.tablet-small {
    padding: 11px 15px;
    font-size: 14px;
    line-height: 18px;
  }
}

.countriesAlphabet {
  @include mixins.tablet-small {
    padding: 16px 20px;
  }
}

.countryAlphabet {
  margin: 0 0 13px;
  cursor: pointer;

  @include mixins.tablet-small {
    margin: 0 0 4px;
    font-size: 16px;
    line-height: 22px;
  }
}

.countryAlphabetDelete {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -6px;
    transform: translateX(50%);
    width: 22px;
    height: 2px;
    background-color: var(--color-light-grey);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include mixins.tablet-small {
    display: none;
  }
}

.formButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.tablet-small {
    flex-direction: column;
    gap: 10px;
  }
}

.formButton {
  border-radius: 20px;
  display: flex;
  max-width: 286px;
  gap: 20px;
  font-size: 24px;
  color: var(--basic_blue_light, #1d2e5b);
  font-weight: 700;
  white-space: nowrap;
  line-height: 100%;
  padding: 29px 36px;

  @include mixins.tablet-small {
    padding: 7px 40px;
    max-width: 221px;
    font-size: 17px;
    line-height: 30px;
  }
}

.formButtonNext {
  background-color: #a8d2f4;
}

.formButtonPrev {
  padding: 0;
  align-items: center;
}