@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
	display: flex;
	flex-direction: column;

	.title {
		margin-bottom: 54px;
		padding-left: 69px;
		font-weight: 700;
		font-size: 36px;
		line-height: 100%;
		color: var(--color-catalina-blue);
	}

	.form {
		background-color: var(--color-pale-cornflower-blue-2);
		border-radius: 56px 56px 0 0;
		padding: 55px 0 124px;
	}

	.wrapper {
		display: flex;
		background: var(--color-white-default);
		border-radius: 60px;
		padding: 110px 30px 106px;
		justify-content: center;
	}

	@include mixins.tablet {
		.title {
			font-size: 24px;
		}
	}
}

.user {
	margin: -188px 0 0;
	padding: 0 0 76px;

	@include mixins.tablet {
		margin: 0;
		padding: 66px 0 61px;
	}

	@include mixins.tablet-small {
		padding: 24px 0 32px;
	}
}

.formHead {
	display: flex;
	justify-content: space-between;
}

.formDescription {
	display: flex;
	flex-direction: column;
}
