@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";
  
.root {
	display: flex;
	flex-direction: column;
	background-color: #AED0EB;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

	.multiStepFormTitle {
		margin-bottom: 40px;
		padding-left: 20px;
	}

	.multiStepForm {
		display: flex;
		flex-direction: column;
	}
}

