@use '@styles/animations';
@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  padding: 46px 46px 48px 48px;
  background-color: var(--color-pattens-blue);
  border-radius: 20px;

  form {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    gap: 19px;
  }

  @include mixins.tablet {
    padding: 37px 36px 37px 34px;
    background-color: var(--color-pale-cornflower-blue);

    form {
      margin: 0 -17px 36px 0;
      padding: 36px 0;
      border-top: 1px solid var(--color-golden-dream);
      border-bottom: 1px solid var(--color-golden-dream);
      gap: 26px;
    }
  }

  @include mixins.tablet-small {
    padding: 27px 25px 22px;
    background-color: var(--color-pale-cornflower-blue);

    form {
      margin: 0;
      padding: 0;
      border-bottom: none;
      gap: 0;
    }
  }
}

.title {
  margin: 0 0 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: var(--color-catalina-blue);

  @include mixins.tablet {
    margin: 0 0 37px;
  }

  @include mixins.tablet-small {
    font-size: 22px;
    letter-spacing: 0.02em;
  }

  @include mixins.tablet-small {
    margin: 0 0 21px;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;

  &[data-accordion='true'] {
    button {
      svg {
        transform: translateZ(0) scale(-1);
      }
    }
  }

  @include mixins.tablet {
    flex-direction: row;
  }

  @include mixins.tablet-small {
    flex-direction: column;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-golden-dream);
    }
  }
}

.wrapper {
  display: none;
  animation: opacity variables.$transition;

  &[data-accordion='true'] {
    display: block;
    margin: 23px 0 13px;
  }

  @media (768px <= width <= 1023.9px) {
    width: 100%;

    &[data-accordion='false'] {
      display: block;
      margin: 0;
    }
  }

  @include mixins.tablet-small {
    width: 100%;

    &[data-accordion='true'] {
      margin: 4px 0 18px;
    }
  }
}

.transport {
  justify-content: flex-start;
  margin: -6px 0 3px;
  gap: 2px;

  @include mixins.tablet-small {
    margin: 3px 0 1px 1px;
    gap: 1px;
  }
}

.button {
  width: 100%;
  padding: 19px 27px 11px;

  @include mixins.tablet-small {
    margin: 0 -4px;
    padding: 15px 27px 9px;
    font-size: 17px;
  }
}
