@use '@styles/func';
@use '@styles/variables';
@use '@styles/mixins';

.root {
  @include mixins.reset-btn;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-midnight-express-2);
  text-transform: uppercase;
  background-color: var(--color-pale-cornflower-blue);
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: variables.$transition;
  transition-property: color, background-color, box-shadow;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-picton-blue);
  }

  &:active {
    background-color: var(--color-picton-blue);
    color: rgba(22 28 53 / 30%);
  }

  &_sm {
    padding: 15px 27px;
  }

  &_md {
    padding: 29px 34px 27px;
  }

  &_white {
    background-color: var(--color-white-default);

    &:hover,
    &:focus-visible {
      background-color: var(--color-white-default);
      box-shadow: 0 3px 6px 0 rgba(0 0 0 / 14%);
    }

    &:active {
      color: rgba(22 28 53 / 30%);
      background-color: var(--color-picton-blue);
      box-shadow: none;
    }
  }

  &:disabled {
    color: var(--color-black);
    background-color: var(--color-grey-hover);
    pointer-events: none;
  }
}
