@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  margin: 7px 38px 0 0;

  @include mixins.tablet-small {
		margin: 0px;
	}

  @media (max-width: 1023px) {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    @media (max-width: 1023px) {
      flex-direction: row;
    }

    li {
      position: relative;
      padding-left: 50px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      opacity: 0.6;

      @include mixins.tablet {
        padding-left: 34px;
      }

      @include mixins.tablet-small {
        padding-left: 20px;
      }

      &::before {
        content: '';
        top: 6px;
        width: 7px;
        height: 6px;
        position: absolute;
        left: 0;
        background-color: var(--color-catalina-blue);
        border-radius: 50%;

        @include mixins.tablet-small {
          width: 5px;
          height: 5px;
        }
      }
    }

    .active {
      opacity: 1;
    }
  }
}