@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {

  @media (max-width: 1023px) {
		display: none;
	}

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    @media (max-width: 1023px) {
      flex-direction: row;
    }

    li {
      position: relative;
      padding-left: 50px;
      font-weight: 400;
      font-size: 23px;
      line-height: 102%;
      text-transform: uppercase;
      opacity: 0.6;

      @include mixins.tablet {
        padding-left: 34px;
    }

      &::before {
        content: '';
        top: 6px;
        width: 7px;
        height: 6px;
        position: absolute;
        left: 0;
        background-color: var(--color-catalina-blue);
        border-radius: 50%;
      }
    }

    .active {
      opacity: 1;
    }
  }
}
