.root {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.link {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}