@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  padding: 63px 0 68px;
  background-color: var(--color-midnight-express);
  border-radius: 0 0 56px 56px;

  @include mixins.tablet {
    padding: 63px 0 66px;
    border-radius: 0 0 60px 60px;
  }

  @include mixins.tablet-small {
    padding: 8px 0 12px;
    border-radius: 0 0 20px 20px;
  }
}

.title {
  position: relative;
  display: inline-block;
  max-width: 382px;
  margin: 0 0 0 64px;
  font-variant: all-small-caps;
  text-align: left;
  color: var(--color-white-default);

  &::after {
    content: '';
    position: absolute;
    bottom: -72px;
    left: 2px;
    width: calc(100% - 23px);
    height: 8px;
    background-color: var(--color-picton-blue);
    border-radius: 4px;
  }

  @include mixins.tablet {
    margin: 0 0 0 35px;

    &::after {
      bottom: -70px;
      left: 0;
    }
  }

  @include mixins.tablet-small {
    margin: 0;

    &::after {
      bottom: -14px;
      left: 0;
      width: calc(100% - 15px);
      height: 5px;
      background-color: var(--color-jordy-blue);
    }
  }
}
