@use 'func';

@keyframes loader {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(50%);
  }
}

@keyframes opacity {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
