@use '@styles/func';
@use '@styles/mixins';

.root {
  display: inline-block;
  line-height: 0;

  &:active {
    opacity: 0.5;
  }
}

.desktop {
  display: inline-block;

  svg {
    width: 200px;
    height: 50px;
  }

  @include mixins.tablet-small {
    display: none;
  }
}

.mobile {
  display: none;

  svg {
    width: 96px;
    height: 15px;
  }

  @include mixins.tablet-small {
    display: inline-block;
    margin-bottom: 40px;
  }
}
