@use '@styles/func';
@use '@styles/mixins';

.root {
  > span {
    position: fixed;
    transform: scale(0);
  }

  @include mixins.tablet-small {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    > span {
      position: relative;
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      color: var(--color-charcoal);
      text-transform: lowercase;
      transform: scale(1);
      z-index: 2;
      text-align: right;

      &::before {
        content: '';
        position: absolute;
        left: -12px;
        right: -12px;
        z-index: -1;
        height: 100%;
        background-color: var(--color-white-default);
      }
    }
  }

  .level {
    flex-shrink: 0;
    width: 62px;
    height: 62px;
    padding: 13px 0 0;
  
    circle {
      stroke-width: 4px;
    }
  
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: var(--color-catalina-blue);
  
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-black-default);
        opacity: 0.4;
      }
  
      &::after {
        bottom: 18px;
        height: 1px;
        background-color: var(--color-black-default);
        opacity: 0.1;
      }
    }
  
    @include mixins.tablet {
      svg {
        color: var(--color-neon-carro);
      }
    }
  
    @include mixins.tablet-small {
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 0;
  
      p {
        span {
          display: none;
        }
  
        &::after {
          content: none;
        }
      }
    }
  }
  
}