.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -100px;
        width: 60px;
        height: 2px;
        background-color: #fff;
    }
}

.toggle {
    position: relative;
    display: none;

    &::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 18px;
        width: 25px;
        height: 3px;
        background-color: #fff;
        box-shadow: 0 5px 0 0 #fff, 0 8px 0 0 #fff;
    }
}