@use '@styles/func';
@use '@styles/mixins';

.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 145px;
    flex-grow: 1;

    @include mixins.tablet {
        display: none;
    }
}

.activeroot {
    @include mixins.tablet {
        position: absolute;
        z-index: 2;
        display: block;
        height: 73vh;
        overflow-y: auto;
        inset: 100% 0 0;
    }

    @include mixins.tablet-small {
        height: 82vh;
    }
}

body:has(.activeroot) {
    overflow: hidden;
}
