@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;

  @include mixins.tablet {
    max-width: 37%;
  }

  @include mixins.tablet-small {
    max-width: 100%;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--color-pale-cornflower-blue);
  transition: background-color variables.$transition;

  svg {
    width: 32px;
    height: 32px;
    transition: opacity variables.$transition;
  }

  &:hover {
    opacity: 1;
    background-color: var(--color-picton-blue);
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  @include mixins.tablet-small {
    width: 45px;
    height: 45px;

    svg {
      width: 23px;
      height: 23px;
    }
  }
}
