@use '@styles/func';
@use '@styles/mixins';

.root {
  position: relative;
  width: 100%;
  background-color: var(--color-midnight-express);
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 46px 0 64px;
}