@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  width: 100%;
  padding: 0 0 72px;
  background-color: var(--color-whisper);
}

.image {
  display: block;
  width: 100%;
  max-width: func.rem(512);
  height: auto;
  margin: 0 auto;

  @include mixins.tablet-small {
    max-width: func.rem(400);
  }
}
