@use '@styles/func';
@use '@styles/mixins';

.root {
  margin: 4px 0 0;
  padding: 0 0 0 16px;

  span {
    position: fixed;
    transform: scale(0);
  }

  ul {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-catalina-blue);
    text-transform: uppercase;
    gap: 13px 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0 18px;

    svg {
      width: 35px;
      height: 24px;
    }
  }
}
